* {
    color: rgb(83, 71, 61);
    font-family: Arial, sans-serif;
}

#main-canvas {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-image: url('UI_src/imgs/cherry-blossom-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    #blur {
        background-color: rgba(255, 255, 255, 0.098);
        backdrop-filter: blur(4px);
        padding: 5vh 5vw 5vh 5vw;
    }
}

#column-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    border-width: 1pt;

    #user-column {
        flex: 3;
        border-radius: 30px;
        background-color: rgba(234, 232, 229, 0.5);
        box-sizing: border-box;

        #avatar-box {
            background-color: rgb(235, 219, 195);
            height: 40%;
            width: 100%;
            border-radius: 30px 30px 0px 0px;
            border-bottom: 2px solid rgb(116, 104, 89);

            #avatar-greeting {
                /* background-color: rgb(209, 18, 18); //testing purposes */
                height: 20%;
                width: 90%;
                padding: 5% 5%;
                font-size: 30px;

            }
        }
    }

    #space-column {
        flex: 1;
    }

    #task-column {
        flex: 10;
        border-radius: 30px;
        background-color: rgba(234, 232, 229, 0.5);
        box-sizing: border-box;

        #tasks-header {
            background-color: rgb(197, 177, 148);
            height: 6%;
            width: 90%;
            border-radius: 30px 30px 0px 0px;
            border-bottom: 2px solid rgb(116, 104, 89);
            padding: 2% 5%;

            font-size: 40px;

        }

        #task_list_items {
            height: 84%;
            /* background-color: rgb(209, 18, 18); //testing purposes */
            width: 90%;
            overflow: scroll;
        }

        .task {
            height: 100%;
            /* background-color: rgb(209, 18, 18); //testing purposes */
            width: 90%;
        }

        .task {
            display: flex;
            background-color: rgb(198, 232, 181);
            padding: 2% 5%;
            height: 8%;
            width: 90%;
            margin: 30px;
            border-radius: 30px;
            padding-left: 5px;

            #task-text {
                padding: 2% 5% 2% 5%;
                flex: 8;
                font-size: 20px;
                font-weight: bold;
            }

            #image-container {
                flex: 1;
                display: flex;
                /* background-color: rgb(209, 18, 18); //testing purposes */
                height: 100%;
                align-items: end;
            }
        }

        .radiobtn {
            margin: auto 20px auto 10px;
        }

    }
}